body {
  margin: 50px;
  padding: 10;
  font-family: Arial, sans-serif;
  background-color: rgb(211, 182, 238);
}

h1 {
  text-align: center;
}

.inputText {
  padding: 25px;
  width: 200px;
  position: relative;

}

.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


button {
  background-color: #b36029;
  color: white;
  padding: 10px 20px;
  border-radius: 14px;
}

.tarea-switch {
  margin-right: 10px;
}

.tarea-texto {
  display: inline-block;
  width: 150px;
  text-decoration: none;
}